.header {
  height: 4rem;
  width: 100vw;
  border-bottom: 2px solid rgb(255, 255, 255);
  display: flex;
  align-items: center;
  background: rgba(0, 23, 58, 0.747);
}

.title {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 2rem;
  margin-left: 1rem;
}

.searchbar {
  border-radius: 20px;
  border: solid 2px grey;
  height: 2vw;
  width: 70%;
}
