navbar {
  display: flex;
  align-items: center;
  background-color: #021d35;
  opacity: 0.9;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  font-size: 0.7em;
  position: fixed; /* Set the navbar to fixed position */
  width: 100%; /* Full width */
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

#moveio {
  font-size: 2.5em;
  text-decoration: none;
  color: white;
}

li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 30px;
  transition: all 0.2s ease-in-out;
}

li:hover {
  background-color: #2f3e4b;
  color: white;
  cursor: pointer;
  transform: scale(1.1);
}

navbar li {
  float: left;
}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

#menu-items {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  color: black;
  padding-right: 50px;
}
